<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог блюд</title>
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo"><a href="{% url 'home' %}">FlavorFeed</a></div>
        <div class="search-container">
            <input type="text" class="search" placeholder="Поиск блюд...">
        </div>
        <div class="header-actions">
            <span>❤️ Избранное</span>
            <span class="profile">👤 Войти</span>
        </div>
    </header>

{% block content %}
{% endblock %}

{% block navigation %}
{% endblock %}



</body>
</html>