{% extends 'base.html' %}
{% load filter_tags %}

{% block content %}
<div class="main">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="filter_filters"><h3>Фильтры</h3></div>
                {% with request.GET.page as current_page %}
                <a href="{% if current_page %}?page={{ current_page }}{% else %}?{% endif %}" class="reset-btn">Сбросить</a>
                {% endwith %}
            </div>

            <hr>
            <div class="filter-section">
                <h4>Категория</h4>
                <a href="{% filter_url 'category' 'all' %}" class="filter-option {% is_active 'category' 'all' %}">Все категории</a>
                {% for category in categories %}
                <a href="{% filter_url 'category' category.slug %}" class="filter-option {% is_active 'category' category.slug %}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <hr>
            <div class="filter-section">
                <h4>Сложность</h4>
                <a href="{% filter_url 'difficulty' 'all' %}" class="filter-option {% is_active 'difficulty' 'all' %}">Все</a>
                <a href="{% filter_url 'difficulty' 'easy' %}" class="filter-option {% is_active 'difficulty' 'easy' %}">Легко</a>
                <a href="{% filter_url 'difficulty' 'medium' %}" class="filter-option {% is_active 'difficulty' 'medium' %}">Средне</a>
                <a href="{% filter_url 'difficulty' 'hard' %}" class="filter-option {% is_active 'difficulty' 'hard' %}">Сложно</a>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Каталог блюд</h1>
                <span>Найдено: {{ paginator.count }} блюд</span>
            </div>
            <div class="dishes-grid">
                {% for dish in dishes %}
                    <div class="dish-card">
                        <a href="{% url 'recipe_info:dish_detail' dish.slug %}" class="dish-card-link">
                        <div class="dish-image-container">
                            <img src="{{ dish.photo.url }}" alt="{{ dish.name }}" class="dish-image">
                            <div class="difficulty-tag tag-{{ dish.difficulty }}">👨🏻‍🍳 {{ dish.get_difficulty_display }}</div>
                        </div>
                        <div class="dish-info">
                            <h3>{{ dish.name }}</h3>
                            <p>{{ dish.descr }}</p>
                            <div class="dish-meta">
                                <div class="rating">
                                    <span class="stars">★</span>
                                    <span class="rating-text">4.8</span>
                                    <span class="rating-count">(124)</span>
                                </div>
                                <div class="time">
                                    <span>⏱️ {{ dish.cooking_time }} мин</span>
                                </div>
                            </div>
                            <span class="category">{{ dish.cat }}</span>
                        </div>
                        <div class="price">{{ dish.dish_price }} ₽</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
{% block navigation %}
<nav class="pagination">
    <ul>
        {% for p in paginator.page_range %}
        <li class="list-pages {% if p == page_obj.number %}active{% endif %}">
            {% if p == page_obj.number %}
            <span>{{ p }}</span>
            {% else %}
            <a href="{% filter_url 'page' p %}">{{ p }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

